<a href="https://colab.research.google.com/github/armanalam6342/Practice/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2: Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number

In [18]:
def adding (num):  
  sum1 = 0
  for i in num:
    s = i+ sum1
    sum1 = i
    print(s)

In [19]:
adding(range(10))

0
1
3
5
7
9
11
13
15
17

Exercise 4: Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

In [20]:
string = str(input())
integer = int(input())
string[integer:]

arman
2

'man'

In [21]:
def removechar(str, n):
  return str[n:]

In [22]:
removechar('arman', 3)

'an'

Exercise 5: Given a list of numbers, return True if first and last number of a list is same

In [23]:
def equal_or_not(list1):
  return list1[0]==list1[-1]

In [24]:
equal_or_not([10, 20, 30, 40, 10])

True

In [25]:
equal_or_not([10, 20, 30, 40, 50])

False

Exercise 6: Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

In [26]:
def divisible_by_5(n):
  a = []
  for i in n:
    if i%5 == 0:
      a.append(i)
  return a

In [27]:
divisible_by_5([10, 20, 33, 46, 55])

[10, 20, 55]

In [28]:
def divisible_by(n):
  for i in n:
    if i%5 == 0:
      print(i)

In [29]:
divisible_by([10, 20, 33, 46, 55])

10
20
55

Return the count of sub-string “Emma” appears in the given string

In [30]:
str = "Emma is good developer. Emma is a writer"
print(f"Emma comes {str.count('Emma')} times")

Emma comes 2 times

In [31]:
str = input('your string')
str1 = input('whats your choice to count')
print(f"your {str1} comes {str.count(str1)} times in {str}")

your stringarman alam
whats your choice to countm
your m comes 2 times in arman alam

Reverse a given number and return true if it is the same as the original number

In [ ]:
orignal_number = input()
if orignal_number == str(orignal_number)[::-1]:
  print("The original and reverse number is the same")
elif orignal_number != orignal_number[-1]:
  print("The original and reverse number is not same")

Print multiplication table form 1 to 10

In [33]:
for i in range(1,11):
  for j in range(1,11):
    print(j*i,end=' ')
  print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Make peramid

In [34]:
a=int(input())
for i in range(a):
  print(i*'*',end=" ")
  print('\t\t')

5

*
**
***
****

Find leap year

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [35]:
def leap_year(n):
  if n%400 == 0:
    print('True')
  elif n%100 == 0:
    print('False')
  elif n%4==0:
    print('True')
  else:
    print('False')

In [36]:
leap_year(2020)

True

Without using any string methods, try to print the following:
123...n

In [37]:
 print(*range(1, int(input()) +1))

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

Write a code to extract each digit from an integer, in the reverse order

In [40]:
a = str(7536)
print(a[::-1],sep="  ")

TypeError: ignored

Taxable Income	Rate (in %)

First $10,000 -	0

Next $10,000	- 10

The remaining	- 20

In [41]:
def taxcalculator(amount):
  tax = 0
  if amount <10000:
    tax = 0
  elif amount > 10000 and amount < 20000:
    b = amount-10000
    tax = b*10/100
  elif amount >20000:
    z = amount-20000
    y = 10000*10/100
    x = z*20/100
    tax = y+x 
  return tax

In [42]:
taxcalculator(45000)

6000.0